
.icon-camera-alt:before { content: '\e800'; } /* '' */
.icon-key:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-basket-alt:before { content: '\e803'; } /* '' */
.icon-credit-card:before { content: '\e804'; } /* '' */
.icon-edit:before { content: '\e805'; } /* '' */
.icon-youtube:before { content: '\e806'; } /* '' */
.icon-leaf:before { content: '\e807'; } /* '' */
.icon-gift:before { content: '\e808'; } /* '' */
.icon-heart-empty:before { content: '\e809'; } /* '' */
.icon-video:before { content: '\e80a'; } /* '' */
.icon-pin:before { content: '\e80b'; } /* '' */
.icon-wine:before { content: '\e80c'; } /* '' */
.icon-paper-plane:before { content: '\f01d'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
